<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="78595E9A-9979-41FB-A288-3401C444A151"
             Name="Static Data Script Generator"
             Language="1033"
             Version="1.4.6"
             Manufacturer="Leon Mayne"
             UpgradeCode="65C00986-5209-4634-814B-C6ECD9715520">

        <Package Compressed="yes"/>

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

        <Directory Name="SourceDir" Id="TARGETDIR">
            <Directory Name="ProgramFilesFolder" Id="ProgramFilesFolder">
              <Directory Name="Static Data Script Generator" Id="APPLICATIONFOLDER"/>
            </Directory>
        </Directory>

      <!-- Step 2: Add files to your installer package --><!--
      <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
        <com
        <Component Id="ApplicationBinaries" Guid="9E28A62D-F27B-44BA-A1B5-F418BB65A7A3">
          <File Id="AppExecutable" 
                Name="$(var.StaticGenerator.TargetFileName)" 
                Source="$(var.StaticGenerator.TargetPath)" KeyPath="yes" Checksum="yes" />
        </Component>
        
        <Component Id="SQLTemplates" Guid="2922B5FF-3DE5-4163-9F68-99C405307B80">
          <File Id="DefaultTemplate" Name="DefaultTemplate.sql" Source="$(var.StaticGenerator.TargetDir)\DefaultTemplate.sql"  KeyPath="yes"/>
        </Component>
      </DirectoryRef>
      
                    --><!--<Component Id="_1" Guid="3C67513D-01DD-4637-8A68-80971EB9504F">
                        <File Source="..\Win\DefaultTemplate.sql"/>
                        <File Source="StaticGeneratorCommon.dll"/>
                    </Component>-->

        <Feature Id="AllFeatures" Title="All Features" Level="1">
          <ComponentGroupRef Id="Binaries"/>
        </Feature>

    </Product>
</Wix>
