<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp1D946EA74B2E5D0E63840DF89C59EAE1" Guid="{20E3398C-6668-43F4-8C91-1304DE5E9D1E}">
                <File Id="fil0B35192EC2221A75F7D5BB84F8AE5339" KeyPath="yes" Source="$(var.BasePath)\DefaultTemplate.sql" />
            </Component>
            <Component Id="cmpEC01AF6B8D5EF8A05804D3A5F37944D6" Guid="{A838AC23-5971-4299-9446-F76CEC80A812}">
                <File Id="fil20DC857D6CED75D4350C99240E49B652" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Data.ConnectionUI.Dialog.dll" />
            </Component>
            <Component Id="cmp19C95D2CAC7F2E9CC50214C3520486AF" Guid="{33FA3CEA-AB28-4A08-B104-8CE65382D3E8}">
                <File Id="filFDEA74E52032BF1EB6936EA12C942E38" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Data.ConnectionUI.dll" />
            </Component>
            <Component Id="cmpAC33A12E307CAEF9F2B14852E7D12BC0" Guid="{2AC0583E-741A-4523-8828-BC98081E877D}">
                <File Id="fil4DD3815AE4446001D614F1BA78F63C3E" KeyPath="yes" Source="$(var.BasePath)\Static Data Script Generator.exe" />
            </Component>
            <Component Id="cmpD2AEE67DA8242957FE1AEEA005676F58" Guid="{EC7BCF51-8E42-4242-8DCD-9241B925BA04}">
                <File Id="fil2FC0E7E7A2DA574284860057EBCD006B" KeyPath="yes" Source="$(var.BasePath)\Static Data Script Generator.exe.config" />
            </Component>
            <Component Id="cmp9466C8460D8E7244E250CB52CBA31FBF" Guid="{814ED1F2-F0A5-47EA-B395-50E688112717}">
                <File Id="filF50F17721A1A916315E9791BBD8E2E97" KeyPath="yes" Source="$(var.BasePath)\Static Data Script Generator.pdb" />
            </Component>
            <Component Id="cmpBC4E046E56032A80CA9312F07ED4E23A" Guid="{2FC9D63F-A65D-47B2-BC1D-8713599B4402}">
                <File Id="filA43958CC89AD68751040134A46715A7B" KeyPath="yes" Source="$(var.BasePath)\StaticGeneratorCommon.dll" />
            </Component>
            <Component Id="cmpCB4CF12AE13B498164BD6122A185419F" Guid="{4799EFF8-F605-4364-B904-43900CCD9AA8}">
                <File Id="fil91849FBCF8F2DA9C500C7AE16D2836E8" KeyPath="yes" Source="$(var.BasePath)\StaticGeneratorCommon.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="cmp_INSTALLFOLDER">
            <ComponentRef Id="cmp1D946EA74B2E5D0E63840DF89C59EAE1" />
            <ComponentRef Id="cmpEC01AF6B8D5EF8A05804D3A5F37944D6" />
            <ComponentRef Id="cmp19C95D2CAC7F2E9CC50214C3520486AF" />
            <ComponentRef Id="cmpAC33A12E307CAEF9F2B14852E7D12BC0" />
            <ComponentRef Id="cmpD2AEE67DA8242957FE1AEEA005676F58" />
            <ComponentRef Id="cmp9466C8460D8E7244E250CB52CBA31FBF" />
            <ComponentRef Id="cmpBC4E046E56032A80CA9312F07ED4E23A" />
            <ComponentRef Id="cmpCB4CF12AE13B498164BD6122A185419F" />
        </ComponentGroup>
    </Fragment>
</Wix>