<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp1D946EA74B2E5D0E63840DF89C59EAE1" Guid="{CE700DA4-B338-49A8-A55D-23106CC86FDB}">
                <File Id="fil0B35192EC2221A75F7D5BB84F8AE5339" KeyPath="yes" Source="$(var.BasePath)\DefaultTemplate.sql" />
            </Component>
            <Component Id="cmpEC01AF6B8D5EF8A05804D3A5F37944D6" Guid="{884CF9A5-A4F0-4C58-96FD-02E817E85B3C}">
                <File Id="fil20DC857D6CED75D4350C99240E49B652" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Data.ConnectionUI.Dialog.dll" />
            </Component>
            <Component Id="cmp19C95D2CAC7F2E9CC50214C3520486AF" Guid="{E25F4F82-7E41-437A-9DF5-647CBC136D50}">
                <File Id="filFDEA74E52032BF1EB6936EA12C942E38" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Data.ConnectionUI.dll" />
            </Component>
            <Component Id="cmpAC33A12E307CAEF9F2B14852E7D12BC0" Guid="{171B9081-1A85-4BEA-A2F3-23B34A062ECE}">
                <File Id="fil4DD3815AE4446001D614F1BA78F63C3E" KeyPath="yes" Source="$(var.BasePath)\Static Data Script Generator.exe" />
            </Component>
            <Component Id="cmpD2AEE67DA8242957FE1AEEA005676F58" Guid="{6D885BAA-A70F-4263-9EB9-B0957E154DD7}">
                <File Id="fil2FC0E7E7A2DA574284860057EBCD006B" KeyPath="yes" Source="$(var.BasePath)\Static Data Script Generator.exe.config" />
            </Component>
            <Component Id="cmp9466C8460D8E7244E250CB52CBA31FBF" Guid="{626F8E50-D9F6-4F57-8930-36BF530EEE4B}">
                <File Id="filF50F17721A1A916315E9791BBD8E2E97" KeyPath="yes" Source="$(var.BasePath)\Static Data Script Generator.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="cmp_INSTALLFOLDER">
            <ComponentRef Id="cmp1D946EA74B2E5D0E63840DF89C59EAE1" />
            <ComponentRef Id="cmpEC01AF6B8D5EF8A05804D3A5F37944D6" />
            <ComponentRef Id="cmp19C95D2CAC7F2E9CC50214C3520486AF" />
            <ComponentRef Id="cmpAC33A12E307CAEF9F2B14852E7D12BC0" />
            <ComponentRef Id="cmpD2AEE67DA8242957FE1AEEA005676F58" />
            <ComponentRef Id="cmp9466C8460D8E7244E250CB52CBA31FBF" />
        </ComponentGroup>
    </Fragment>
</Wix>